
  <form action="/answer">
    <div class="mb-3">
      <label for= "question-input" class= "form-label">Ask your coach anything</label>
      <input type="text" name="question" method= "get" id= "question-input">
      <input type="submit" value="Ask!" class= "btn btn-primary">
    </div>
  </form>
